{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Timelec-lecture transcriber</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/scrolling-nav.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">timelec</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Results</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Guide</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <br><br>


  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>Transcribe Your Lecture</h1>
    
      <form enctype="multipart/form-data" method="POST" action="">
      {% csrf_token %}
      {{form}}<br>
      <input type="submit" value="Upload"/>
      </form>
      <video id="video" width="500" controls>
        <source src='{{ MEDIA_URL }}{{video.videofile}}' type='video/mp4'>
        Your browser does not support the video tag.
      </video><br>
      <h6>*demo version: please keep files under a minute. less than 10 mb. mp4 files only.</h6>
    </div>
  </header>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="list-inline mx-auto justify-content-center">
          <h2>Results</h2>
          <p class="lead">{{transcript}}</p>
          <ul style="overflow-y: scroll;height: 500px;width: 500px;">
            {% for x in text %}
              <li>{{x}}</li>
            {% endfor %}
          </ul>
            <input type="number" placeholder="Jump To Time" id="query">
            <button type="button" onclick="time();">GO</button>
            <h6>*demo version: this feature does not support chrome please use firefox. :D</h6>
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>How To Use</h2>
          <p class="lead">Upload your video and go to results to see the transcript. On larger files you can use CTRL+F to search for key words. The time in seconds will be beside the word. You can then enter the time in seconds below the results and seek the video to that time.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Contact us</h2>
          <p class="lead"><a href="https://github.com/Amarygdala/student-video-transcriber">Github Repo</a></p>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; timelec 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="{% static '/js/scrolling-nav.js'%}"></script>
  <script>
    function time(){
      var inputVal = document.getElementById("query").value;
      var vid = document.getElementById("video");
      vid.currentTime = inputVal;
    }
    </script>
</body>

</html>
